@import url(https://fonts.googleapis.com/css?family=Roboto:100,700,900,300);

#ingredients {
  float: left;
  border-right: solid 5px red;
  padding: 15px;
  width: 20%;
}

#directions {
  float: left;
  width: 32%;
  padding: 15px;
}

h1{
  font-family: "Roboto", sans-serif;
  font-size:700;
  font-weight: bolder;
  color: red;
}

h2{
  font-family: monospace;
  font-size:300;
  font-weight: bold;
  color: blue;

}

li{
  font-family: fantasy;
  color: green;
}

p{
  font-family: fantasy;
  font-size:300;
  color: purple;
}
